<footer class="footer-container"  [class.hidden]="!isVisible">
    <div class="footer-content">
        <p>Email: <a href="mailto:yourname@example.com">yourname@example.com</a></p>
        <p>Phone: +123-456-7890</p>

        <!-- Social Media Links -->
        <div class="social-icons">
            <a href="https://linkedin.com" target="_blank" title="linkedin">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://github.com" target="_blank" title="github">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://twitter.com" target="_blank" title="twitter">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </div>

        <p class="footer-text">© 2025 Your Name. All Rights Reserved.</p>
    </div>
</footer>